body{
    padding: 0;
    margin: 0;
    background-color: #222222;
}

.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #D39F36;
}
.mainTitle{
    font-size: 48px;
}

.mainBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#castleMain{
    display: block;
    height: 275px;
    width: 275px;
}
.btnGood ,.btnSo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    border-radius: 37px;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    cursor: default;
}
.btnGood{
    background-color: #D39F36;
}
.btnSo{
    background-color: #E5C78A;
}
.btnGood:hover ,.btnSo:hover{
    transition: all 0.5s;
    opacity: 80%;
    border-color: aliceblue;
}
.btnMain{
    width: 300px;
    height: 75px;
}

.textForm{
    color: antiquewhite;
}
.inputForm{
    margin: 5px;
}
.btnModalLog{
    width: 150px;
    height: 75px;
}